@media (max-width: 820px) {
  .bayan_inner_title {
    color: navajowhite;
  }

  .bayan_input:checked ~ label .bayan_flex h2 {
    color: navajowhite;
  }

  .bayan_items {
    border-bottom: 0.6vw solid yellow;
  }

  .wrapper {
    padding: 7vw 0 14.6vw;
  }
  .inner_bayan {
    max-width: 79vw;
    cursor: none;
    border-radius: 2%;
  }

  .bayan_headline {
    font-size: 6.297vw;
    border-bottom: 0.6vw solid yellow;
  }

  .bayan_inner_title {
    font-size: 5.2vw;
  }

  .bayan_input:checked ~ label .bayan_images {
    width: 40.2vw;
    padding: 4.8vw 0;
  }
}

@media (max-width: 320px) {
  .bayan_inner_title {
    color: navajowhite;
  }

  .bayan_input:checked ~ label .bayan_flex h2 {
    color: navajowhite;
  }

  .bayan_items {
    border-bottom: 0.9vw solid yellow;
  }

  .wrapper {
    padding: 4.6vw 0 4.6vw;
  }
  .bayan-headline {
    font-size: 9vw;
    border-bottom: 1vw solid yellow;
  }

  .bayan_inner_title {
    font-size: 6.6vw;
  }

  .bayan_input:checked ~ label .bayan_images {
    width: 50vw;
    padding: 2vw 0;
  }
}
